<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="DailyReportsRoot" value="C:\inetpub\vhosts\ReliWebServices\DailyReports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="DailyReportsServerPath" value="http://localhost:11223/DailyReports/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="CustomerReportsRoot" value="C:\inetpub\vhosts\ReliWebServices\CustomerServiceReports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="CustomerReportsServerPath" value="http://localhost:11223/CustomerServiceReports/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="KnowledgeFilesRoot" value="C:\inetpub\vhosts\ReliWebServices\KnowledgeFiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="KnowledgeFilesServerPath" value="http://localhost/KnowledgeFiles/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<connectionStrings>
    <add name="ReliMobileEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/Models.reliMobile.csdl|res://*/Models.reliMobile.ssdl|res://*/Models.reliMobile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YAQIZHAO-PC;initial catalog=xz2013;integrated security=false;user id=sa;password=88458170;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="membership" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=localhost;Initial Catalog=xz2013;Integrated Security=false;user id=sa;password=88458170;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>